<html>

<head>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
{% raw %}

<body ng-app="searchApp">
  <div ng-controller="searchController">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <div class="navbar-brand">Product Search</div>
          <li class="active"><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Search">
          </div>
          <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <div class="container">
      <div class="row">
        <h4 ng-hide="lastQuery==''" style="margin-bottom: 50px;"> Search results for: {{lastQuery}}</h4>
      </div>

      <div class="row" ng-repeat="result in searchResults track by $index">
        <div class="media" ng-hide="searchResults.length == 0">

          <div class="media-left">
            <a href="#">
              <img class="media-object" src={{result.img_path}} alt={{result._id}}>
            </a>

          </div>
          <div class="media-body">
            <h4 class="media-heading">{{result.title}}</h4> {{result.long_desc}}
          </div>
          <div class="media-right">
            <button class="btn btn-default" value={{result._id}} type="submit" data-toggle="modal" data-target="#flag-modal{{$index}}" ng-click="lastProduct(result._id)">Flag</button>
          </div>
        </div>
        <!-- modal -->
        <div class="modal fade" id="flag-modal{{$index}}" tabindex="-1" role="dialog">
          <div class="modal-dialog">
            <div class="modal-content">
              <form ng-submit="addResultFlags(lastQuery, lastProductId, resultFlags)">

                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                  <h4 class="modal-title">Please rank this result using some or all of the options</h4>
                </div>
                <div class="modal-body">
                  <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox1" ng-model="resultFlags.modalValue1"> Inappropriate
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox2" ng-model="resultFlags.modalValue2"> Not Helpful
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox3" ng-model="resultFlags.modalValue3"> Wrong Tags
                  </label>
                  <label class="checkbox-inline">
                    <input type="checkbox" id="checkbox4" ng-model="resultFlags.modalValue4"> Spam
                  </label>
                </div>
                <div class="modal-footer">
                  <button type="button" ng-click="resetFlags()" class="btn btn-default" data-dismiss="modal">Close</button>
                  <button type="submit" value="submit" class="btn btn-primary">Save changes</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <!-- end modal -->

      </div>

    </div>
  </div>






</body>
{% endraw %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>

<html>
