<html>

<head>
  <script src="{{url_for('static', filename='lib/jquery/jquery.min.js')}}"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="{{url_for('static', filename='lib/bootstrap/css/bootstrap.min.css')}}">
  <!-- Latest compiled and minified JavaScript -->
  <script src="{{url_for('static', filename='lib/bootstrap/js/bootstrap.min.js')}}"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
{% raw %}

<body ng-app="searchApp">
  <div ng-controller="searchCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <div class="navbar-brand">Product Search</div>
          <li><a href="#/">Home</a></li>
          <li><a href="#flagged">Flagged</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Search">
          </div>
          <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div ng-view></div>

    </div>

</body>
{% endraw %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/services.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/controllers.js')}}"></script>

<html>
