<html>

<head>
  <script src="https://code.jquery.com/jquery-2.2.1.min.js"></script>
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{{url_for('static', filename='css/main.css')}}" />
</head>
{% raw %}

<body ng-app="searchApp">
  <div ng-controller="searchResultsCtrl">
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <ul class="nav navbar-nav">
          <div class="navbar-brand">Product Search</div>
          <li><a href="#">Home</a></li>
          <li><a href="#">Link</a></li>
          <li><a href="#">Link</a></li>
        </ul>
        <form class="navbar-form navbar-left" role="search" ng-submit="search()">
          <div class="form-group">
            <input type="text" class="form-control" ng-model="query" placeholder="Search">
          </div>
          <button type="submit" value="Submit" class="btn btn-default">Submit</button>
        </form>
      </div>
    </nav>

    <div class="container">

      <div ng-view></div>



    </div>





</body>
{% endraw %}
<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.5/angular-route.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.2.4/ui-bootstrap-tpls.min.js"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/app.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/services.js')}}"></script>
<script type="text/javascript" src="{{url_for('static', filename='js/controllers.js')}}"></script>

<html>
